<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url("images/ws_logo_bg.png");
            background-repeat:no-repeat;
            background-position: center;
            background-size: auto;
        }
        #taskApp {
            max-width: 800px;
        }
        .dashboard {
            margin: auto;
            width: 100%;
            padding: 10px;
        }
        .drop-zone {
            background-color: #eee;
            margin: 10px;
            padding: 10px;
            width: 30%;
            max-width: 200px;
            float: left;
        }
      
        .drag-el {
            background-image: url("images/task_bg.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: auto;
            margin-bottom: 10px;
            padding: 5px;
            text-align: left;
            background-color: #ffff91; 
        }

        .font-task {
            font-weight: bold;
            font-size: 20px;
        }
        .editItem {
            float: left;
        }
    </style>
    <script src="library/vue/vue.js"></script>
</head>
<body>
    <center>
    <div id="taskApp">
        <div class="panel" v-if="addView">
            <h2>Add New Task</h2>

            <form v-on:submit='addItems'>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model='newTitle'>
                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Add">
                </div>
            </form>
        </div>
        <div class="panel" v-if="editView">
            <h2>Edit Task</h2>

            <form v-on:submit='editItems'>
                <div class="col-sm-8">
                    <input type="text" class="form-control" v-model='editTitle'>
                </div>
                <div class="col-sm-8" v-if="listType">
                    <input type="text" class="form-control" v-model='editResponsible'>
                </div>
                <div class="col-sm-8" v-if="viewID">
                    <input type="text" class="form-control" v-model='editID'>
                </div>
                <div class="col-sm-4">
                    <input type="submit" value="Edit">
                </div>
            </form>
        </div>
        <!--Mula Add Drop Zone-->
        <div class="dashboard">
        <div class='drop-zone' @drop="onDrop($event, 1)"
        @dragover.prevent
        @dragenter.prevent>
            <div class="font-task">
                Backlog({{this.list1().length}})
            </div>
            <br>
            <div v-for='(item, n) in list1()' :key='item.title' class='drag-el' draggable @dragstart="startDrag($event, item)">
                <b>#{{ item.id }}</b>
                <br>
                <p>{{ item.title }}</p>
                <div class="editItem" v-on:click="editItem(item)">
                    <img src="images/ICON_EDIT.png">
                </div>
                <div class="deleteItem" v-on:click="deleteItem(item)">
                    <img src="images/ICON_DELETE.png">
                </div>
            </div>
        </div>

        <div class='drop-zone' @drop="onDrop($event, 2)"
        @dragover.prevent
        @dragenter.prevent>
            <div class="font-task">
                In-Progress({{this.list2().length}})
            </div>
            <br>
            <div v-for='(item, n) in list2()' :key='item.title' class='drag-el' draggable @dragstart="startDrag($event, item)">
                <b>#{{ item.id }}</b>
                <br><br>
                {{ item.title }}
                <br>
                <b>Start Time</b>
                <br>
                {{ item.start }}
                <b>Responsible</b>
                <br>
                {{ item.responsible }}
                <br>
                <div class="editItem" v-on:click="editItem(item)">
                    <img src="images/ICON_EDIT.png">
                </div>
                <div class="endItem" v-on:click="endItem(item)">
                    <img src="images/ICON_END.png">
                </div>
            </div>
        </div>

        <div class='drop-zone' @drop="onDrop($event, 3)"
        @dragover.prevent
        @dragenter.prevent>
            <div class="font-task">
                Done({{this.list3().length}})
            </div>
            <br>
            <div v-for='(item, n) in list3()' :key='item.title' class='drag-el' draggable @dragstart="startDrag($event, item)">
                <b>#{{ item.id }}</b>
                <br><br>
                {{ item.title }}
                <br>
                <b>Start Time</b>
                <br>
                {{ item.start }}
                <br>
                <b>End Time</b>
                <br>
                {{ item.end }}
                <div class="deleteItem" v-on:click="deleteItem(item)">
                    <img src="images/ICON_DELETE.png">
                </div>
            </div>
        </div>


        </div>

        <!--Tamat Add Drop Zone-->
    </div>    
    </center>
</body>
</html>

<script>
    const storageKey = "items";
    var taskApp = new Vue ({
        el: '#taskApp',
        data () {
            return {
                items:[],
                newTitle: null,
                addView: true,
                editView: false,
                listType: false,
                editTitle: null,
                editResponsible: null,
                editID: false,
                viewID: false
            }
        },
        created: function () {
            this.items = JSON.parse(localStorage.getItem(storageKey))
            //this.sortLocalStorage()
            this.localData()
            this.list1()
            this.list2()
            this.list3()
        },
        methods: {
            //filter start
            list1: function() {
                if (localStorage.getItem(storageKey)) {
                    return JSON.parse(localStorage.getItem(storageKey)).filter(items => items.list === '1')
                }
                else{
                    return "";
                }
            },
            list2: function() {
                if (localStorage.getItem(storageKey)) {
                    //this.sortLocalStorage()
                    return JSON.parse(localStorage.getItem(storageKey)).filter(items => items.list === '2')
                }
                else{
                    return "";
                }
            },
            list3: function() {
                if (localStorage.getItem(storageKey)) {
                   //this.sortLocalStorage()
                    return JSON.parse(localStorage.getItem(storageKey)).filter(items => items.list === '3')
                }
                else{
                    return "";
                }
            },
            //filter end
            localData: function() {
                if (localStorage.getItem(storageKey) == null) {
                    this.items = []
                }
                    //convert kepada javascript object
                    let saveItem = JSON.stringify(this.items);
                    //simpan dalam local storage
                    localStorage.setItem(storageKey, saveItem);
                    this.$forceUpdate();
            },
            sortLocalStorage: function() {
                if (localStorage.getItem(storageKey) != undefined) {
                    var itemList = JSON.parse(localStorage.getItem(storageKey))
                    
                    var highID = 0

                    for(var i = 0; i < itemList.length; i++) {
                        var currentID = itemList[i].id;
                        var currentTitle = itemList[i].title;
                        var currentList = itemList[i].list.toString();
                        var currentStart = itemList[i].start;
                        var currentEnd = itemList[i].end;
                        var currentResponsible = itemList[i].responsible;
                        
                        if(currentID > highID){
                            highID = currentID
                            var indexNumber = JSON.parse(localStorage.getItem(storageKey)).findIndex(item => item.id == highID)
                
                            this.items.push(//this.items
                                {
                                    id: currentID,
                                    title: currentTitle,
                                    list: currentList,
                                    start: currentStart,
                                    end: currentEnd,
                                    responsible: currentResponsible,
                                },
                            );
                            this.items.splice(indexNumber, 1);
                            this.localData()
                        }
                    }
                }
            },
            startDrag (evt, item) {
                evt.dataTransfer.dropEffect = 'move'
                evt.dataTransfer.effectAllowed = 'move'
                evt.dataTransfer.setData('itemID', item.id)
                evt.dataTransfer.setData('itemList', item.list)
            },
            onDrop (evt, list) {
                const itemID = evt.dataTransfer.getData('itemID')
                const itemList = evt.dataTransfer.getData('itemList')

                const item = this.items.find(item => item.id == itemID)
                item.list = list

                //timestamp
                var today = new Date().toLocaleString('en-GB', { hour12: false });
                
                //confirm change column start
                let column2 = "Confirm To Change Task #" + itemID +" as In-Progress?"
                let column3 = "Confirm To Change Task #" + itemID +" as Done?"
                //confirm change column end

                //transfer to column 2
                if(itemList == 1 && item.list == 2 && confirm(column2) == true){
                    let person = prompt("Please enter your name", "");
                    
                    if (person == null || person == "") {
                        alert("Enter Reponsible Name")
                    } else {
                        alert("Enter Success")
                    }
                    
                    var indexNumber = JSON.parse(localStorage.getItem(storageKey)).findIndex(item => item.id == itemID)
                
                    this.items.push(//this.items
                        {
                            id: item.id,
                            title: item.title,
                            list: item.list.toString(),//item.list.toString(),
                            start: today,
                            end: '',
                            responsible: person,
                        },
                    );
                    this.items.splice(indexNumber, 1);
                    this.localData()
                    this.sortLocalStorage()
                }//transfer to column 3
                else if(itemList == 2 && item.list == 3 && confirm(column3) == true){
                    var indexNumber = JSON.parse(localStorage.getItem(storageKey)).findIndex(item => item.id == itemID)
                
                    this.items.push(//this.items
                        {
                            id: item.id,
                            title: item.title,
                            list: item.list.toString(),
                            start: item.start,
                            end: today,
                            responsible: item.responsible,
                        },
                    );
                    this.items.splice(indexNumber, 1);
                    this.localData()
                    this.sortLocalStorage()
                }
                else if(item.list - itemList == 2){
                    alert("Tidak Boleh Langkau")
                }

            },
            addItems() {
                //input:text tidak kosong
                if (!this.newTitle) {
                    alert("Masukkan Penerangan Tugasan")
                    return;
                }
                var max = 0;
                if (localStorage.getItem(storageKey) != undefined) {
                    
                    var totalData = JSON.parse(localStorage.getItem(storageKey))
                    
                    for(var i = 0; i < totalData.length; i++) {
                        var current = totalData[i].id;
                        
                        if(current > max){
                            max = current
                        }
                    }
                }
                //umpuk dalam array data
                this.items.push(//this.items
                    {
                        id: max+1,
                        title: this.newTitle,
                        list: '1',
                        start: '',
                        end: '',
                        responsible: '',
                    },
                );
                this.newTitle = '';
                this.localData()
                this.sortLocalStorage()
            },
            deleteItem: function(item) {

                var delId = item.id
                let text = "Confirm To Delete Task #" + delId +"?"
                
                var indexNumber = JSON.parse(localStorage.getItem(storageKey)).findIndex(item => item.id == delId)
                
                if (confirm(text) == true) {
                                        
                    this.items.splice(indexNumber, 1);
                    this.localData()
                    this.sortLocalStorage()
                    text = "Delete Successfull";

                } else {
                    text = "You canceled!";
                }
                
                this.sortLocalStorage()
            },
            endItem: function(item) {

                var endID = item.id
                let text = "Confirm To End Task #" + endID +"?"

                if (confirm(text) == true) {
                    var indexNumber = JSON.parse(localStorage.getItem(storageKey)).findIndex(item => item.id == endID)
                    //timestamp
                    var today = new Date().toLocaleString('en-GB', { hour12: false });
                
                    this.items.push(//this.items
                        {
                            id: item.id,
                            title: item.title,
                            list: '3',
                            start: item.start,
                            end: today,
                            responsible: item.responsible,
                        },
                    );
                    this.items.splice(indexNumber, 1);
                    this.localData()
                    this.sortLocalStorage()
                    text = "End Successfull";
                } else {
                    text = "You canceled!";
                }
                
            },
            editItem: function(item) {
                this.addView = false
                this.editView = true
                
                var editId = item.id
                
                if(item.list == 1){
                    this.editTitle = item.title
                    this.editID = item.id
                    this.editResponsible = item.responsible
                }
                else if(item.list == 2){
                    this.listType = true
                    this.editTitle = item.title
                    this.editID = item.id
                    this.editResponsible = item.responsible
                }


            },
            editItems: function() {
                
                var indexNumber = JSON.parse(localStorage.getItem(storageKey)).findIndex(item => item.id == this.editID)
                
                const item = this.items.find(item => item.id == this.editID)
                
                this.items.push(//this.items
                    {
                        id: this.editID,
                        title: this.editTitle,
                        list: item.list,
                        start: item.start,
                        end: item.today,
                        responsible: this.editResponsible,
                    },
                );
                this.items.splice(indexNumber, 1);
                this.localData()
                this.sortLocalStorage()
                alert("Edit Successfull")

            },
  	    }
    });
  </script>
